.chat {
    height: 50px;
    width: 100%;

    font-size: 17px;

    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 1px;

    border: 1px solid yellow;
}

.chat:hover {
    cursor: pointer;
    background-color: rgb(231, 221, 221);

    transform: scale(1.01);
}

.displayPicture {
    height: 45px;
    width: 45px;

    border-radius: 45px;

    margin-left: 3px;

    border: 1px solid black;
}

.chatName {
    margin-left: 5px;

    /*border: 2px solid black;*/
}

.numberOfUnreadMessages {
    margin-left: auto;
    margin-right: 15px;

    color: rgb(220, 50, 50);
}