.chat, .currentChat {
    height: 50px;
    width: 100%;

    font-size: 17px;

    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 1px;

    border: 1px solid yellow;
}

.currentChat {
    background-color: rgb(216, 212, 212);
}

.chat:hover, .currentChat:hover {
    cursor: pointer;
    background-color: rgb(216, 212, 212);

    transform: scale(1.01);
}

.displayPicture {
    height: 45px;
    width: 45px;

    border-radius: 45px;

    margin-left: 3px;

    border: 1px solid black;
}

.chatName {
    font-size: 20px;
    margin-left: 5px;

    /*border: 2px solid black;*/
}

.video-call-button {
    margin-left: auto;
    margin-right: 5px;

    /*border: 2px solid red;*/
}

.video-call-image {
    width: 100%;
    height: 100%;
}

.numberOfUnreadMessages {
    margin-left: 5px;

    color: rgb(220, 50, 50);
}